
%header
  .container.padded
    %h1= t('.title')
    = link_to new_event_path, class: 'btn with-icon' do
      %i.fa.fa-plus
      = t('.new_event')

.rows
  - if @events.empty?
    .row.empty
      = t('.empty')
  - @events.each do |event|
    = link_to event, class: 'row' do
      %span.primary= event.title
      %span.secondary= event_date(event)

%footer
  .container.padded
    %span.text= t('.logged_in_as', name: current_user.name)
    = link_to t('.log_out'), logout_path, class: 'link'
