%header.event-header
  .container.padded
    = @event.date
    %h1= @event.title
    %p.organizer= t('.started_by', organizer: @event.organizer.name)
    %hr
    %p.attending= t('.attending', count: @rsvps.in_count)
    - if @rsvps.in_count > 0
      .avatar-row
        - @rsvps.in.each do |rsvp|
          = avatar(rsvp)
          - (1...rsvp.attendees).each do
            .avatar.default

.container.padded
  .actions
    - if user_signed_in?
      = link_to t('.in'), event_rsvp_path(@event, rsvp: {response: 'in'}), method: :post, class: [:btn, 'btn-rsvp', 'btn-in', (:active if current_rsvp.in?)]
      = link_to t('.out'), event_rsvp_path(@event, rsvp: {response: 'out' }), method: :post, class: [:btn, 'btn-rsvp', 'btn-out', (:active if current_rsvp.out?)]
    - else
      %a.btn-facebook.btn.text-center{ href: sign_in_path}
        %i.fa.fa-facebook
        = t('facebook')
    - if current_rsvp.in?
      .attendees><
        - (1..4).each do |idx|
          = link_to t(".attendees.n#{idx}"), event_rsvp_path(@event, rsvp: {attendees: idx}), method: :post, class: [:toggle, :attendees, (:active if current_rsvp.attendees >= idx)]

.rows
  .row.section
    = t('.sections.in', count: @rsvps.in_count)
  - @rsvps.in.each do |rsvp|
    .row
      %span.primary
        = avatar(rsvp)
        = name(rsvp)
        %small= extra_attendees(rsvp)
  - if @rsvps.in.empty?
    .row.empty
      = t('.empty')
  .row.section
    = t('.sections.out', count: @rsvps.out_count)
  - @rsvps.out.each do |rsvp|
    .row.disabled
      %span.primary
        = avatar(rsvp)
        = name(rsvp)
        %small= extra_attendees(rsvp)
  - if @rsvps.out.empty?
    .row.empty
      = t('.empty')


.container.padded
  %br
  - if browser.mobile?
    = link_to whatsapp_link(@event), class: 'btn btn-whatsapp with-icon' do
      %i.fa.fa-whatsapp
      %span= t(".whatsapp")
  - else
    = label_tag :url, t('.share-url'), class: 'link'
    = text_field_tag :url, event_url(@event)

%footer
  .container.padded
    - if user_signed_in? && @event.organizer == current_user
      %br
      = link_to t('.edit'), edit_event_path(@event), class: 'link'
    %br
    = link_to t('.footer.home'), root_path, class: 'footer_link'

:javascript
  new EventNotificationListener("#{@event.token}")
