- header_title(@event.title)
- header_action(url: '#share', icon: 'fa-envelope')


.rows
  .actions
    - if user_signed_in?
      = link_to t('.in'), event_rsvp_path(@event, rsvp: {response: 'in'}), method: :post, class: [:toggle, :half, :in, (:active if current_rsvp.in?)]
      = link_to t('.out'), event_rsvp_path(@event, rsvp: {response: 'out' }), method: :post, class: [:toggle, :half, :out, (:active if current_rsvp.out?)]
    - else
      %a.btn.text-center{ href: sign_in_path}
        %i.fa.fa-facebook
        Sign in with Facebook
  - if current_rsvp.in?
    .attendees
      - (1..4).each do |idx|
        = link_to t(".attendees.n#{idx}"), event_rsvp_path(@event, rsvp: {attendees: idx}), method: :post, class: [:toggle, :attendees, (:active if current_rsvp.attendees == idx)]


  .row.section
    = t('.sections.in', count: @rsvps.in_count)
  - @rsvps.in.each do |rsvp|
    .row
      %span.primary
        = avatar(rsvp)
        = name(rsvp)
        %small= extra_attendees(rsvp)
  .row.section
    = t('.sections.out', count: @rsvps.out_count)
  - @rsvps.out.each do |rsvp|
    .row.disabled
      %span.primary
        = avatar(rsvp)
        = name(rsvp)
        %small= extra_attendees(rsvp)